<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon Site Web{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="/var/www/html/rastaaslan_app/static/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Accueil</a></li>
            <li><a href="{% url 'vods' %}">VODs</a></li>
            <li><a href="{% url 'clips' %}">Clips</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}
        <!-- Contenu dynamique ici -->
        {% endblock %}
    </div>
</body>
</html>
