{% extends 'rastaaslan_app/base.html' %}

{% block title %}Clips{% endblock %}

{% block content %}
<h1>Clips</h1>

<!-- Vignettes pour les clips -->
<div class="row">
    {% for video in videos %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ video.thumbnail_url }}" class="card-img-top" alt="{{ video.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ video.title }}</h5>
                    <a href="{% url 'video_detail' video.video_id %}" class="btn btn-primary">Voir la vidéo</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
