<!DOCTYPE html>
<html>
<head>
    <title>{{ video.title }}</title>
</head>
<body>
    <h1>{{ video.title }}</h1>
    {% if video.video_type == "Clip" %}
        <iframe
            src="https://clips.twitch.tv/embed?clip={{ video.video_id }}&parent=twitch.tv"
            {% comment %} src="https://clips.twitch.tv/embed?clip={{ video.video_id }}&parent={{ request.get_host }}" {% endcomment %}
            height="378"
            width="620"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true">
        </iframe>
    {% else %}
        <iframe
            src="https://player.twitch.tv/?video={{ video.video_id }}&parent={{ request.get_host }}"
            frameborder="0"
            allowfullscreen="true"
            scrolling="no"
            height="378"
            width="620">
        </iframe>
    {% endif %}
    <p><a href="{% url 'vods' %}">Retour aux VODs</a> | <a href="{% url 'clips' %}">Retour aux Clips</a></p>
</body>
</html>
