<!DOCTYPE html>
<html>
<head>
    <title>{{ video.title }}</title>
    <link rel="icon" href="/path/to/favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>{{ video.title }}</h1>

    <!-- Conteneur pour l'intégration Twitch -->
    <div id="twitch-embed" style="height: 378px; width: 620px;"></div>

    <!-- Charger le script d'intégration Twitch -->
    <script src="https://player.twitch.tv/js/embed/v1.js"></script>

    <!-- Créer un objet Twitch.Player -->
    <script type="text/javascript">
      var options = {
        width: 620,
        height: 378,
        video: "{{ video.video_id }}",  // Utilisez 'video' pour les clips
      };
      var player = new Twitch.Player("twitch-embed", options);
    </script>

    <p><a href="{% url 'vods' %}">Retour aux VODs</a> | <a href="{% url 'clips' %}">Retour aux Clips</a></p>
</body>
</html>
