<!-- video_detail.html -->
{% extends 'base.html' %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}
<h1>{{ video.title }}</h1>

    {% if video.video_type == "Clip" %}
        <iframe
            src="https://clips.twitch.tv/embed?clip={{ video.video_id }}&parent={{ request.get_host }}"
            height="378"
            width="620"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true">
        </iframe>
    {% else %}
        <iframe
            src="https://player.twitch.tv/?video={{ video.video_id }}&parent={{ request.get_host }}"
            frameborder="0"
            allowfullscreen="true"
            scrolling="no"
            height="378"
            width="620">
        </iframe>
    {% endif %}

    <!-- Carrousel de Vidéos Similaires -->
    <h2>Vidéos Similaires</h2>
    <div class="carousel">
        {% for similar_video in similar_videos %}
            <div>
                <a href="{% url 'video_detail' similar_video.video_id %}">
                    <img src="{{ similar_video.thumbnail_url }}" alt="{{ similar_video.title }}">
                    <p>{{ similar_video.title }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

    <!-- Chat Twitch -->
    <div id="twitch-chat"></div>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script type="text/javascript">
        new Twitch.Embed("twitch-chat", {
            channel: "rastaaslanradal",
            layout: "video-with-chat",
            width: 620,
            height: 378,
            theme: "dark",
            autoplay: false
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.carousel').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}
